/*
Colors used:
text-color (black): #000000CC
accent-color (viole): #832E88
pure-white-color: #FFFFFF
surface-color: #EDEDED
*/
:root {
    /* colors */
    --text-color: #000000CC;
    --accent-color: #832E88;
    --accent-hover-color: #832E88CC;
    --accent-pressed-color: #5B165F;
    --pure-white-color: #FFFFFF;
    --surface-color: #EDEDED;

    /* border radius */
    --radius-none: 0rem;
    --radius-sm: 1rem;
    --radius-md: 2rem;
    --radius-round: 7rem;

}


* {
    box-sizing: border-box;
}

.center {
    text-align: center;
}

body {
    font-family: Nunito Sans, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color)
}

main {
    padding-top: 145px;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 6px 12px rgba(131, 46, 136, 0.1)
}


h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}


h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

h5 {
    font-size: 1.75rem;
    font-weight: 700;
}

img {
    width: 100%;
    border-radius: var(--radius-md, 2rem);
    border: 2px solid var(--accent-color);
}
img:hover {
    filter: grayscale(100%);
}

.logo {
    max-width: 250px;
    height: auto;
    border: none;
    border-radius: var(--radius-none);
    
}

.social {
    width: 44px;
    height: auto;
    border: none;
    border-radius: var(--radius-none);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--accent-hover-color);
    text-decoration: underline;
}

/* a:visited {
    color: aqua;
}
*/
a:active {
    color: #994c30;
}

.btn-primary-normal {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--pure-white-color);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: var(--radius-round);
    transition: 0.2s opacity;
}

.btn-primary-normal:hover {
    opacity: 0.8;
    color: var(--pure-white-color);
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px #832e8886;

}

.btn-primary-normal:active {
    background-color: var(--accent-pressed-color);
    color: var(--pure-white-color);
    text-decoration: none;
}

.btn-secondary-normal {
    display: inline-block;
    background-color: var(--pure-white-color);
    color: var(--accent-color);
        text-align: center;
    padding: 1em 2em;
    border: 1px solid var(--accent-color);
    border-radius: var(--radius-round);
    transition: 0.2s opacity;

}

.btn-secondary-normal:hover {
    opacity: 0.8;
    color: var(--accent-color);
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px #832e8886;

}

.banner {
    background-color: var(--surface-color);
    width: 100%;
    text-align: center;
    
}

.stats {
    text-align: center;
}


/* Layput styling */

.container {
    padding: 0 16px;
}

.row {
    margin: 32px 0;
}

nav {
    display: inline-block;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

div > ul {
    list-style-type: none;
    padding: 0; 
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color)
}

nav > ul > li > a:hover {
    color: var(--accent-hover-color);
    text-decoration: none;
}

nav > ul > li > a:active {
    color: var(--accent-pressed-color);
    text-decoration: none;
}


#bottom-nav {
    text-transform: uppercase;
    color: var(--text-color);
    display: block;
    width: 60px;
    text-decoration: none;
}

#bottom-nav:hover {
    color: var(--accent-color);
}

#hero-section {
    display: inline-block;
    width: 100%;
    
    margin: 0;
    padding: 0.67rem 0;
    
}
#video {
    max-width: 100%;
    height: auto;
    

}

